.values {
    float: right;
    width: 40%;
    background-color: burlywood;
    height: 410px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: lightgreen;
}

#username {
    height: 25px;
    width: 20%;
    margin: 15px;
    justify-self: center;
    align-self: center;
}

#password {
    height: 25px;
    width: 20%;
    margin: 15px;
}

#select {
    height: 25px;
    width: 20%;
    margin: 15px;
}

#range {
    width: 20%;
    margin: 15px;
}

#datetime {
    height: 25px;
    width: 20%;
    margin: 15px;
}

#submit {
    height: 40px;
    width: 15%;
    margin: 20px;
    background-color: cornflowerblue;
    color: black;
    border: 1px solid black;
    font-size: 14px;
}

h2 {
    margin: 40px;
}