* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 0, 61);
}

.container {
    background-color: rgb(11, 0, 61);
    min-height: 100vh; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 270px));
    padding: 2rem 0rem;
    row-gap: 1rem;
    column-gap: 3rem;
}

.fact-card {
    width: 300px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    height: 300px;
    margin: 20px 30px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.pagination {
    background-color: white;
    color: rgb(11, 0, 61);
    width: 460px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 8px;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination ul li {
    list-style: none;
    padding: 8px 12px;
    margin: 5px 2px;
}

.pagination ul li.active,
.pagination ul li.num:hover,
.pagination ul li.btn:hover  {
    color: white;
    background-color: rgb(11, 0, 61);
}

.search_page {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

input {
    border: 1px solid white;
    border-radius: 8px;
    width: 50px;
    height: 40px;
    margin: 10px;
    padding: 5px;
}

button {
    border: 1px solid white;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: rgb(11, 0, 61);
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: white;
    color: rgb(11, 0, 61);
}